onnxruntime>=1.23.2
onnx>=1.21.0
pandas
opencv-python>=4.13.0.92
pillow>=10.4.0
lxml>=6.0.2
marker-pdf
langchain
langchain-community
langchain-core
chromadb
sentence-transformers
langgraph
langchain_groq
onnxruntime
onnx
python-dotenv
pre-commit
black
